{
  "extends": "@antfu",
  "rules": {
    "vue/component-tags-order": [
      "error",
      {
        "order": [
          [
            "script",
            "template"
          ],
          "style"
        ]
      }
    ],
    "antfu/if-newline": "off"
  }
}
